.App {
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(240,178,45,0.6587009803921569) 100%);
}
